body{
    background-color: rgb(187, 255, 178);
    color: rgb(43, 20, 17);

}

nav{
    height: 6000px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;

}

footer{
    text-align: center;
    margin-right: 200px;


}

#memeImage{
    margin-right: 200px;
    text-align: center;


}

header{

    text-align: center;
}